{% extends 'catalog/base.html' %}
{% load mediapath %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<button type="button" class="btn btn-lg btn-block btn-outline-primary" ><a href="{% url 'product_create' %}" style="text-decoration: none;">Добавить новый продукт</a></button>


{% for object in object_list %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal"><a href="{% url 'product' object.pk%}">{{ object.name }}</a></h4>
                </div>
                <div class="card-body">
                    <img src="{% mediapath object.image %}" width="600px">
                    <h1 class="card-title pricing-card-title">$ {{ object.price }}</h1>
                    <p>{{ object.description|truncatechars:100 }}</p>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    {% if object.version %}
                    <div style="padding: 1px 10px; display: inline-block;  border: 3px solid black; margin-left: 20px; margin-bottom: 10px">
                        <h3 style="font-size: 16px">Активная версия!</h3>
                        <p style="font-size: 12px">Название: {{ object.version|get_item:'name' }}</p>
                        <p style="font-size: 12px">Номер: {{ object.version|get_item:'number' }}</p>
                    </div>
                    {% endif %}
                    <button style="display: block" type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
