{% extends 'blog/base.html' %}
{% load mediapath %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<button type="button" class="btn btn-lg btn-block btn-outline-primary" ><a href="{% url 'post_create' %}" style="text-decoration: none;">Создать новый пост</a></button>

{% for post in object_list %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal"><a href="{% url 'post_details' post.slug%}">{{ post.name }}</a></h2>
                </div>
                <div class="card-body">
                    <img src="{% mediapath post.image %}">
                    <p>{{ post.description|truncatechars:100 }}</p>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Создан: {{ post.created_at }}</li>
                        <li>- Просмотров: {{ post.view_count }}</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
